<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <context:component-scan base-package="springcourse"/>

    <bean id="bundleSongs"
          class="java.util.ResourceBundle"
          factory-method="getBundle">
        <constructor-arg value="songs"/>
    </bean>

    <bean id="userBean" class="springcourse.UserBean">
        <constructor-arg value="${userBean.name}"/>
    </bean>

    <bean id="jazzMusic"
          class="springcourse.JazzMusic"
          init-method="init">
        <property name="bundle" ref="bundleSongs"/>
    </bean>

    <bean id="classicalMusic"
          class="springcourse.ClassicalMusic">
    </bean>

    <bean id="musicList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="rockMusic" />
                <ref bean="jazzMusic" />
                <ref bean="classicalMusic" />
            </list>
        </constructor-arg>
    </bean>

    <bean id="musicPlayer"
          class="springcourse.MusicPlayer"
          scope="prototype">
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
        <property name="musicList" ref="musicList"/>
    </bean>
</beans>